/* Const */
/* Const */
/* Mixins */
.typography-1 {
  font-size: 1.125em;
  font-family: 'PT Sans';
  color: #ffffff;
}
.typography-2 {
  font-size: 0.813em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.typography-3 {
  font-size: 2.500em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.typography-4 {
  font-size: 2.000em;
  font-family: 'PT Sans';
  color: #ffffff;
}
.typography-5 {
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 38px;
  text-align: center;
}
.typography-6 {
  color: #20aee2;
  font-family: 'PT Sans';
  font-size: 5em;
  left: 103px;
  text-transform: uppercase;
}
.typography-7 {
  font-size: 1.500em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.typography-8 {
  font-size: 2.875em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.typography-9 {
  font-size: 0.875em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.rotate_div_90 {
  /* Для Firefox */
  /* Для IE */
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(-90deg);
}
/* Mixins */
@font-face {
  font-family: Intro;
  src: url(../fonts/subset-Intro.woff);
}
body {
  height: 100%;
  margin: 0 auto;
  padding: 0 0;
  max-width: 1400px;
  font-size: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.wrapper {
  padding: 2% 2%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.head-slider__picture {
  width: 100%;
  height: 700px !important;
  background-position: center center;
}
.main-picture {
  width: 100%;
  margin-bottom: 5%;
}
.menu {
  position: absolute;
  top: 87px;
  left: 553px;
}
.menu__list {
  margin: 0 0;
  padding: 0 0;
}
.menu__item {
  float: left;
  padding-right: 46px;
  list-style-type: none;
  text-transform: uppercase;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__link {
  display: block;
  text-decoration: none;
  font-size: 1.125em;
  font-family: 'PT Sans';
  color: #ffffff;
}
.logo {
  position: absolute;
  top: 70px;
  left: 144px;
}
.logo__title {
  padding-left: 5px;
  letter-spacing: 3px;
  padding-top: 23px;
  font-size: 0.813em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.logo__name {
  letter-spacing: 3px;
  padding-top: 9px;
  font-size: 0.813em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.main-title {
  position: absolute;
  top: 271px;
  left: 136px;
  letter-spacing: 4px;
  line-height: 69.5px;
  font-size: 2.500em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.main-title__line {
  position: absolute;
  top: 200px;
  left: 4px;
}
.anounce__title {
  position: absolute;
  top: 569px;
  right: 135px;
  letter-spacing: 4px;
  line-height: 41.5px;
  font-size: 1.500em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.anounce__day {
  position: absolute;
  top: 569px;
  right: 461px;
  font-size: 2.875em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.anounce__month {
  position: absolute;
  top: 626px;
  right: 461px;
  font-size: 0.875em;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #ffffff;
}
.phone__item {
  position: absolute;
  top: 74px;
  right: 139px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 26px;
  padding: 13px 18px;
  font-size: 1.125em;
  font-family: 'PT Sans';
  color: #ffffff;
}
.mail__item {
  position: absolute;
  top: 340px;
  right: 71px;
  text-decoration: none;
  text-transform: uppercase;
  /* Для Firefox */
  /* Для IE */
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(-90deg);
  font-size: 1.125em;
  font-family: 'PT Sans';
  color: #ffffff;
}
.main-picture-slider {
  height: 520px;
  width: 660px;
}
.head {
  color: #1ab8e3;
  font-size: 2.100em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'PT Sans';
  font-weight: bold;
  text-align: left;
}
.head1 {
  margin-right: 90px;
}
.numb {
  font-size: 9.000em;
  color: #f1f1f1;
  font-family: Intro;
}
.touch-menu {
  display: none;
}
.touch-call {
  display: none;
}
.touch-mail {
  display: none;
}
.touch-twitter {
  position: absolute;
  width: 2em;
  height: 2.5em;
  top: 615px;
  right: 814px;
}
.touch-vk {
  position: absolute;
  width: 3em;
  height: 2.5em;
  top: 615px;
  right: 742px;
}
.touch-fb {
  position: absolute;
  width: 2em;
  height: 2.5em;
  top: 615px;
  right: 688px;
}
.twitter-footer,
.vk-footer,
.fb-footer {
  width: 25px;
  height: 25px;
}
.location {
  margin: 7%;
}
.location__item-1 {
  font-family: PT Sans, sans-serif;
  text-align: center;
}
.location__item-2 {
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 38px;
  text-align: center;
}
.club {
  margin-top: 5%;
  position: relative;
}
.club__title {
  font-family: PT Sans, sans-serif;
  text-align: center;
  margin-bottom: 6%;
}
.club-slider {
  text-align: -webkit-center;
  font-size: 1.125em;
  font-family: 'PT Sans';
  font-style: italic;
  color: #949494;
}
.club-slider__item {
  width: 160px;
  height: 160px;
}
.club-slider__item_round {
  border-radius: 100px;
  width: 140px;
  height: 140px;
  margin-bottom: 7%;
}
.club-slider__join {
  text-align: center;
}
.club-slider__join_button {
  height: 60px;
  width: 238px;
  font-family: 'PT Sans';
  color: #20aee2;
  border: 1px solid #20aee2;
  background-color: white;
  font-size: 1.063em;
  text-transform: uppercase;
  margin-top: 3%;
}
.map {
  position: relative;
}
.map__item {
  position: absolute;
  top: 269px;
  color: #20aee2;
  font-family: 'PT Sans';
  font-size: 5em;
  left: 103px;
  text-transform: uppercase;
}
.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.info-left {
  height: 520px;
  width: 48.5%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  margin-right: 3%;
  background-color: #20bbe5;
}
.info-left__title {
  position: absolute;
  left: 130px;
  top: 81px;
  font-size: 2.000em;
  font-family: 'PT Sans';
  color: #ffffff;
}
.info-left__description {
  position: absolute;
  width: 400px;
  left: 132px;
  top: 122px;
  text-align: left;
  line-height: 27px;
  font-size: 1.125em;
  font-family: 'PT Sans';
  color: #ffffff;
}
.info-action {
  position: absolute;
  top: 382px;
  left: 132px;
}
.info-action__button {
  height: 60px;
  width: 238px;
  font-family: 'PT Sans';
  color: #20aee2;
  border: 1px solid #20aee2;
  background-color: white;
  font-size: 1.063em;
  text-transform: uppercase;
  margin-top: 2%;
}
.info-right {
  height: 520px;
  width: 48.5%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.actions {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.action {
  position: relative;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32%;
}
.footer {
  background-color: #f5f5f5;
  position: relative;
}
.footer-info {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height: 280px;
}
.footer-info__title {
  width: 309px;
  padding-left: 124px;
  padding-top: 76px;
  font-size: 32px;
  font-family: 'PT Sans';
  font-weight: bold;
}
.footer-link {
  margin-left: 9%;
  margin-top: 5%;
}
.footer-link__item {
  text-decoration: none;
  font-size: 13px;
  font-family: 'PT Sans';
  color: #ababac;
  margin-right: 2%;
}
.footer-link__author {
  top: 225px;
  position: absolute;
  left: 1026px;
  text-decoration: none;
  font-size: 13px;
  font-family: 'PT Sans';
  color: #ababac;
  float: right;
}
.footer-social {
  width: 120px;
  position: absolute;
  left: 791px;
  top: 218px;
}
.footer-social__item {
  text-decoration: none;
  font-size: 13px;
  font-family: 'PT Sans';
  color: #ababac;
  padding: 1%;
}
.footer-social__item:first-child {
  margin-left: 5%;
}
.slick-slider.partners-slider {
  position: absolute;
}
.partners-slider {
  width: 35%;
  top: 85px;
  right: 93px;
}
.partners-slider__item {
  margin-right: 83px;
}
.prev {
  position: absolute;
  top: 164px;
  width: 50px;
  height: 65px;
  background: url(../images/navigation/1.png);
  border: transparent;
  vertical-align: middle;
}
.next {
  position: absolute;
  top: 164px;
  right: 5px;
  width: 50px;
  height: 65px;
  background: url(../images/navigation/2.png);
  border: transparent;
  vertical-align: middle;
}
.prevs {
  top: 86px;
  left: 50%;
  position: absolute;
  width: 50px;
  height: 65px;
  background: url(../images/navigation/1.png);
  border: transparent;
  vertical-align: middle;
}
.nexts {
  top: 86px;
  right: 61px;
  width: 50px;
  position: absolute;
  height: 65px;
  background: url(../images/navigation/2.png);
  border: transparent;
  vertical-align: middle;
}
/* Media queries */
@media only screen and (max-width: 700px) {
  .main-title {
    display: none;
  }
  .logo {
    top: 257px;
    left: 118px;
  }
  .logo__title {
    font-size: 1.813em;
    position: absolute;
    left: -4px;
  }
  .logo__name {
    font-size: 1.813em;
    position: absolute;
    top: 129px;
  }
  .anounce__title {
    position: absolute;
    top: 569px;
    right: 18px;
    letter-spacing: 4px;
    line-height: 41.5px;
    font-size: 1.500em;
    font-family: 'PT Sans';
    text-transform: uppercase;
    color: #ffffff;
  }
  .anounce__day {
    position: absolute;
    top: 569px;
    right: 341px;
    font-size: 2.875em;
    font-family: 'PT Sans';
    text-transform: uppercase;
    color: #ffffff;
  }
  .anounce__month {
    position: absolute;
    top: 626px;
    right: 340px;
    font-size: 0.875em;
    font-family: 'PT Sans';
    text-transform: uppercase;
    color: #ffffff;
  }
  .touch-vk {
    top: 483px;
    right: 197px;
  }
  .touch-fb {
    top: 483px;
    right: 148px;
  }
  .touch-twitter {
    top: 483px;
    right: 261px;
  }
  .actions {
    position: relative;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .action {
    position: relative;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
  }
  .prevs {
    left: 59px;
  }
}
@media (max-width: 1300px) {
  .info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info-left {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1270px) {
  body {
    font-size: 103%;
  }
  .main-title {
    font-size: 2em;
    left: 143px;
    top: 301px;
  }
  .mail__item {
    top: 230px;
    right: 61px;
    font-size: 0.7em;
  }
  .head {
    position: absolute;
    top: 134px;
    left: 30px;
    z-index: 1;
    font-size: 2em;
  }
  .head1 {
    position: absolute;
    top: 134px;
    left: 112px;
    z-index: 1;
    font-size: 2em;
  }
  .numb {
    position: absolute;
    top: 197px;
    left: 90px;
    font-size: 7em;
    z-index: 0;
    color: #c3c0c0;
  }
  .menu {
    display: none;
    height: 100vh;
    transform: translateZ(0);
    top: 25px;
    left: 70%;
    width: 100%;
    position: fixed;
    background: #000000;
    max-width: 36%;
    z-index: 3;
  }
  .menu__list {
    padding-top: 189px;
    padding-left: 118px;
  }
  .menu__link {
    padding-bottom: 12%;
  }
  .phone {
    display: none;
  }
  .mail {
    display: none;
  }
  .touch-menu {
    display: block;
    position: absolute;
    top: 80px;
    right: 68px;
    background-repeat: repeat-x;
    z-index: 5;
    width: 4em;
    height: 3em;
  }
  .touch-call {
    display: block;
    position: absolute;
    top: 80px;
    right: 190px;
    width: 4em;
    height: 3em;
  }
  .touch-mail {
    display: block;
    position: absolute;
    top: 80px;
    right: 269px;
    width: 4em;
    height: 3em;
  }
  .menu__item {
    float: none;
  }
  .menu__link {
    border-top: 1px solid #eee;
  }
  .menu__link:first-child {
    border-top: none;
  }
  .description {
    display: none;
  }
  .info-left {
    margin-bottom: 3%;
    width: 606px;
  }
  .info-right {
    width: 606px;
  }
  .footer-social {
    display: none;
  }
  .footer-link {
    top: 177px;
    position: absolute;
    left: 11px;
  }
  .footer-link__author {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .main-title {
    line-height: 43px;
    font-size: 1.8em;
  }
  .menu {
    top: 15px;
    left: 55%;
    max-width: 43%;
  }
  .partner-slider {
    right: 67px;
  }
}
@media (max-width: 936px) {
  .head {
    position: absolute;
    top: 105px;
    left: 29px;
    z-index: 1;
    font-size: 1.4em;
  }
  .head1 {
    left: 68px;
  }
  .numb {
    left: 40px;
    top: 137px;
  }
  .footer-info .twitter {
    position: absolute;
    top: 220px;
    left: 220px;
  }
  .footer-info .fb {
    position: absolute;
    top: 220px;
    left: 420px;
  }
  .footer-info__social__item {
    position: absolute;
    top: 220px;
    left: 320px;
  }
  .footer-info__link__item {
    display: none;
  }
  .footer-info__link__author {
    display: none;
  }
  .footer-info__title {
    display: none;
  }
}
@media (max-width: 418px) {
  .map__item {
    top: 33px;
    font-size: 4em;
  }
  .info-left__description {
    font-size: 0.9em;
  }
  .twitter {
    left: 120px;
  }
  .vk {
    left: 194px;
  }
  .fb {
    left: 264px;
  }
}
@media (max-width: 690px) {
  .numb {
    font-size: 9.000em;
    left: 107px;
    top: 230px;
  }
  .head {
    font-size: 2.100em;
    left: 92px;
    top: 151px;
  }
  .head1 {
    left: 136px;
  }
  .menu {
    left: 21%;
    max-width: 77%;
    top: 9px;
  }
}
@media only screen and (max-width: 1418px) {
  .phone {
    display: none;
  }
  .touch-call {
    width: 4em;
    height: 3em;
    display: block;
    position: absolute;
    top: 80px;
    right: 164px;
  }
}
/* Media queries */
