/* Const */
@mobile360: ~"only screen and (max-width: 360px)";
@mobile: ~"only screen and (max-width: 767px)";
@mobile800: ~"only screen and (max-width: 800px)";
@tablet1270: ~"only screen and (max-width: 1270px)";
@mobile600: ~"only screen and (max-width: 600px)";
@tablet1418: ~"only screen and (max-width: 1418px)";
@main-font: 'PT Sans';
@color-blue-text: #1ab8e3;
@color-blue-box: #20bbe5;
@color-grey: #f1f1f1;
@color-white: #ffffff;
/* Const */

/* Mixins */
.typography-1 {
	font-size: 1.125em;
	font-family: @main-font;
	color: @color-white;
}
.typography-2 {
	font-size: 0.813em;
	font-family: @main-font;
	text-transform: uppercase;
	color: @color-white;
}
.typography-3 {
	font-size: 2.500em;
	font-family: @main-font;
	text-transform: uppercase;
	color: @color-white;
}
.typography-4 {
	font-size: 2.000em;
	font-family: @main-font;
	color: @color-white;
}
.typography-5 {
	font-family: @main-font;
	font-size: 20px;
    line-height: 38px;
    text-align: center;
}
.typography-6 {
		color: #20aee2;
	    font-family: @main-font;
	    top: 141px;
	    font-size: 5em;
	    left: 103px;
	    text-transform: uppercase;
}

.rotate_div_90 {
	-moz-transform: rotate(-90deg); /* Для Firefox */
    -ms-transform: rotate(-90deg); /* Для IE */
    -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg); /* Для Opera */
    transform: rotate(-90deg);
}
/* Mixins */

@font-face {
	font-family: Intro;
	src: url(../fonts/subset-Intro.woff); 
 }
// @font-face {
// font-family: PT Sans;
//  src: url(../fonts/subset-DroidSans-Bold.woff);
// }

body {
	height: 100%;
	margin: 0 auto;
    padding: 0 0;
    max-width: 1400px;
	font-size: 100%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
} 
.wrapper {
	padding: 2% 2%;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
}

.main-picture {
    width:100%;
    margin-bottom: 5%;
}

.menu {
	position: absolute;
    top: 87px;
    left: 553px;

    &__list {
		margin: 0 0;
	    padding: 0 0;
	}
	&__item {
		float: left;
		padding-right: 46px;
		list-style-type: none;
		text-transform: uppercase;

		&:last-child {
			padding-right: 0;
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		.typography-1; 
	}

}



.logo {
	position: absolute;
    top: 70px;
    left: 144px;

    &__title {
		padding-left: 5px;
	    letter-spacing: 3px;
	    padding-top: 23px;
	   	.typography-2; 
	}
	&__name {
	    letter-spacing: 3px;
	    padding-top: 9px;
	    .typography-2; 
	}
}

.title {
	position: absolute;
    top: 271px;
    left: 136px;
	letter-spacing: 4px;
    line-height: 59.5px;
	.typography-3;
}
.title1 {
	position: absolute;
	left: 157px;
    top: 2381px;
    .typography-4;

}
.description {
	position: absolute;
    left: 157px;
    top: 2422px;
    color: #ffffff;
    width: 30%;
    text-align: left;
    letter-spacing: 2px;
    line-height: 27px;
    font-weight: inherit;
    .typography-1;
}

.phone__item {
	position: absolute;
    top: 74px;
    right: 139px;
    text-decoration: none;
	border: 1px solid white;
	border-radius: 26px;
	padding: 13px 18px;
	.typography-1; 
}
.mail__item {
	position: absolute;
	top: 277px;
    right: 71px;
	text-decoration: none;
    text-transform: uppercase;
    .rotate_div_90;
    .typography-1; 
}


.row{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.container .cols {
	float: left;
	margin-right: 2%;
	margin-top: 0%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	text-align: center;

	&:last-child {
		margin-right: 0;
	}

	&after {
		content: "";
		display: table;
		clear: both;
	}

	&before {
		content: "";
		display: table;
	}
}

.container .cols.col-4 {width:32%;    position: relative;}
.container .cols.col-6 {width: 49%;}

.main-picture-slider {
	height: 520px; 
	width: 660px;
}
.head {
	color: @color-blue-text;
	font-size: 2.100em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: @main-font;
	font-weight: bold;
	text-align: left;
}

.clear {
	&after {
		content: "";
		display: table;
		clear: both;
	}
	&before {
		content: "";
		display: table;
	}
}

.numb {
	font-size: 9.000em;
	color: @color-grey;
	font-family: Intro;
}

.touch-menu {
		display: none;
}

.touch-call {
		display: none;
}

.touch-mail {
		display: none;
}

.location {
	margin: 2%;

	&__item-1 {
		font-family: PT Sans, sans-serif;
		text-align:center;
	}
	&__item-2 {
		.typography-5;
	}
}

.club {
	margin-top: 5%;

	&__title {
		font-family: PT Sans, sans-serif;
		text-align:center;
	}
	&__slider-1__item {
    width: 160px;
    height: 160px;
	}
	&__slider-1__item_round {
	border-radius: 100px; /* Радиус скругления */
    width: 126px;
    height: 126px;
	}
}
.map {
	position: relative;

	&__item {
		position: absolute;
	    .typography-6;
    }
}
/* Media queries */
@media @mobile {
	.container .cols.col-4 ,
	.container .cols.col-6 {width:100%;
	}

}

@media @mobile360 {
	body {
        font-size: 90%;
    }
	.container .cols.col-4 ,
	.container .cols.col-6 {width:100%}
}

@media @mobile800 {
    body {
        font-size:100%;
    }
}


@media @tablet1418 {
	.phone {
	display: none;
	}

	.touch-call {
		display: block;
		position: absolute;
        top: 80px;
    	right: 127px;
	}
}

@media @tablet1270 {
    body {
        font-size: 103%;
    }
	.title {
		font-size: 1.5em;
		top: 206px;
	}
    .mail__item {
	    top: 230px;
	    right: 61px;
	    font-size: 0.7em;
	}

    .head {
	    position: absolute;
	    top: 182px;
    	left: 114px;
	    z-index: 1;
	    font-size: 1.6em;
    }
    .numb {
	    position: absolute;
	    top: 282px;
    	left: 111px;
	    z-index: 0;
    }
    .menu {
		display: none;
	}	
	.phone {
		display: none;
	}
	.mail {
		display: none;
	}
	.touch-menu {
		display: block;
		position: absolute;
        top: 80px;
		right: 97px;
	}
	.touch-call {
		display: block;
		position: absolute;
        top: 80px;
		right: 176px;
	}
	.touch-mail {
		display: block;
		position: absolute;
        top: 80px;
		right: 251px;
	}
	.menu__item {
		float: none;
	}
	.menu__link {
		border-top: 1px solid #eee;
		&:first-child {
		border-top: none;
		}
	}

	.description {
		display: none;
	}

	.title {
	    left: 157px;
    	top: 2201px;
	}

	.logo {
		font-size: 87%;
	}
	.logo__picture {
	    width: 85%;
	}
	.title1{
		display: none;
	}
}

@media @mobile600 {
	.logo {
		top: 257px;
    	left: 118px;
	}
}
/* Media queries */